.App {
    text-align: center;
    color: #3f3f3f;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.correct {
    border-color:green
}   
.incorrect {
    border-color:red
}
.set {
  background: #f4f7f8;
  display: inline-block;
  width: 40%;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1em;
}
